## Assignment 22-Feb-2023

**Q1):**Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data  = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2):** Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd

lst = [1,2,3,4,5,6,7,8,9,10]
result = pd.Series(lst)
print(result)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3):** Q3. Create a Pandas DataFrame that contains the following data:

Name -> Alice, Bob, Claire\
Age -> 25, 30, 27\
Gender -> Female, Male, Female

Then print the data frame.

In [6]:
import pandas as pd

data = {
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25, 30, 27],
    'Gender':['Female', 'Male','Female']
}

result = pd.DataFrame(data)
print(result)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4):** What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

**Solution:**
Dataframe in pandas is two dimensional labelled data structure that can storesata of different types(numeric, string, boolean) in columns.

It is similar to a table in a relational database or a spreadsheet in excel.
**Each columnn in Dataframe is a Panda Series**

A Pandas Series on the othre hand is one dimensional labelled array capable of holding any data types.

In [2]:
import pandas as pd

series = pd.Series([7,8,9,4,5,8], name = 'numbers')

data = {
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25, 30, 27],
    'Gender':['Female', 'Male','Female']
}

print(series)
df = pd.DataFrame(data)
print(df)

0    7
1    8
2    9
3    4
4    5
5    8
Name: numbers, dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q5):** What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

**solution:** Common funtion that can be used to mainpluate data in Pandas DataFrame are as follows :



1. **head() and tail():** This function allow you to retrive the top 5 and last 5 data from DataFrame.
```
df.head()
df.tail()
```
2. **info():** It provide the consize summery of DataFrame.
```
df.info()
```
3. **drop():** It is used to remove row or column from DataFrame.
```
df.drop()
```
4. **groupby():** This function is used for grouping and aggregating data based on specific columns.
```
df.groupby('Gender')['Age'].mean()
```

In [7]:
import pandas as pd

data ={
        'Name': ['John', 'Emma', 'Michael', 'Sophia'],
        'Age': [25, 32, 41, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female'],
        'Grade': [88, 95, 79, 92]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender  Grade
0     John   25    Male     88
1     Emma   32  Female     95
2  Michael   41    Male     79
3   Sophia   28  Female     92

In [10]:
print(df.head(1))

   Name  Age Gender  Grade
0  John   25   Male     88

In [11]:
print(df.tail(2))

      Name  Age  Gender  Grade
2  Michael   41    Male     79
3   Sophia   28  Female     92

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Gender  4 non-null      object
 3   Grade   4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None

In [ ]:
print(df.drop('Grade', axis = 1, inplace=True))

In [17]:
print(df)

      Name  Age  Gender
0     John   25    Male
1     Emma   32  Female
2  Michael   41    Male
3   Sophia   28  Female

**Q6):**Which of the following is mutable in nature Series, DataFrame, Panel?

**Solution:**

**Series:** A pandas Series is mutable but size is not mutable. You can change the values in s Series by assigning new values to specific indices or by applying operation that modify the series in -place.

**DataFrames:** A pandas in DataFrame is also mutable. You can modify the values of specifc cells, and remove columns, rename columns or perfor various operation that after the content or structure of the DataFrame.

**Panel:** It is a 3D data structure with heterogeneous data. The size and data in panels are mutable.

**Q7):** Create a DataFrame using multiple Series. Explain with an example.

In [18]:
import pandas as pd

name_series = pd.Series(['abc','def','xyz','pqr'])
age_series = pd.Series([23,32,21,34])
gender_series = pd.Series(['M','M','F','F'])

data = {'Name':name_series,'Age':age_series,'Gender':gender_series}

df = pd.DataFrame(data)
print(df)

  Name  Age Gender
0  abc   23      M
1  def   32      M
2  xyz   21      F
3  pqr   34      F